
{% extends "base.html" %}

{% block title %}My Events{% endblock %}

{% block content %}
  <div class="container-fluid">

    <div class="container" id="event-container">
      <div class="row">
        <div class="col s12 m6">
          <h3>Hello, {{ user_info.first_name }}</h3>
        </div>
        <div class="col s12 m6">
          <div id="logout-button">
            <a class="waves-effect waves-light btn red" href="/logout">Log out</a>
          </div>
        </div>
        <div class="col s12">
          <h4>Your events</h4>
          <hr />
        </div>
      </div>
        <div class="row">

        {% for event in events %}
          <div class="col s12 m6 l4">
            <div class="card">
              <div class="card-image">
                <img src="{{ event.logo.original.url }}">
                <span class="card-title">{{ event.name.text }}</span>
              </div>
              <div class="card-content">
                <p>{{ event.description.text }}</p>
              </div>
              <div class="card-content">
                <p><i class="material-icons">date_range</i> {{ event.start_date_local }}</p>
                <p><i class="material-icons">language</i> {{ event.start_tz }}</p>
                <p><i class="material-icons">access_time</i> {{ event.start_time_local }}</p>
              </div>
              <div class="card-action">
                <a href="{{ event.url }}">Go to event</a>
              </div>
            </div>
          </div>
        {% else %}
        <div class="col s12">
          <p>
            You haven't created any events yet. Bummer.
          </p>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>
{% endblock %}
